{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<link rel="stylesheet" href="/styles/register.css">
<div class="page-register">
    {{ form_start(registrationForm) }}
    <div class="register-user">

        <div class="register-user-input">
            {{ form_label(registrationForm.email) }}
            {{ form_widget(registrationForm.email) }}
            {{ form_errors(registrationForm.email) }}
        </div>
        <div class="register-user-input">
            {{ form_label(registrationForm.plainPassword) }}
            {{ form_widget(registrationForm.plainPassword) }}
            {{ form_errors(registrationForm.plainPassword) }}
        </div>

        <span class="btn-form-user">
            {{ form_widget(registrationForm.Ajouter) }}
        </span>
    </div>
    {{ form_end(registrationForm) }}
</div>

{% endblock %}