{% extends 'base.html.twig' %}
{% block body %}
<link rel="stylesheet" href="/styles/livreur.css">
<div class="page-view-card">    
    <div class="parent-view-card">
    
        <div class="view-card ">
            {% for c in commande %}
    
            <p>{{ c.id}}</p>
            <p>{{c.detailCommandes[0].fkplat.fkrestaurant.nom}}</p>
            <p>{{c.detailCommandes[0].fkplat.fkrestaurant.lieu}}, {{c.detailCommandes[0].fkplat.fkrestaurant.fkville.libelle}}</p>
            <hr class="horizontal-ligne">
            <p>{{ c.fkclient.nom}} {{ c.fkclient.prenom}}</p>
            <p> {{c.fkclient.Adresse}}, {{c.fkclient.fkville.libelle}} </p>
            <p>Heure livraison : {{ c.date | date('H:i') }}</p>
    
    
    
        </div>
    
        <div class="view-card">
            <h1> Détail de la commande </h1>
    
            {% for dc in c.detailCommandes %}
            <p>Plat : {{dc.fkplat.libelle}}</p>
            <p>Quantite : {{dc.Quantite}}</p>
            {% endfor %}
        </div>
    </div>
    
    <a class="btn-view-livreur" href="{{path( 'app_edit_commande_status',{'commande' : c.id} ) }}">Valider la livraison</a>
</div>

{% endfor %}
{% endblock %}