{% extends 'base.html.twig' %}

{% block title %}Hello CommandeController!{% endblock %}

{% block ville %}
<div class="arrow-left">

    <a href="{{ path('app_commande',{'idResto':commande[0].detailCommandes[0].fkplat.fkrestaurant.id}) }}"><i class="fa-solid fa-arrow-left fa-2xl"></i></a>
</div>
    
{% endblock ville %}
{% block body %}
<link rel="stylesheet" href="/styles/commande.css">
<div class="page-view-commande">



<div class="parent-view-commande">
    <h3 class="blue-bg corner-left-top">Numéro de la commande</h3>
    <h3 class="blue-bg ">Plat</h3>
    <h3 class="blue-bg ">Quantité</h3>
    <h3 class="blue-bg corner-right-top">Satut</h3>
</div>
{% for c in commande %}
<div class="parent-view-commande">
    <div class="blue-bg view-commande-libelle">
        <p>{{ c.id }}</p>
    </div>
    <div class="view-commande-libelle blue-bg">
        {% for dc in c.detailCommandes %}
        <p>{{ dc.fkplat.libelle }}</p>
        {% endfor %}
    </div>
    <div class="view-commande-libelle blue-bg">
        {% for dc in c.detailCommandes %}
        <p>{{ dc.quantite }}</p>
        {% endfor %}
    </div>
    <div class="blue-bg view-commande-libelle">
        <p>{{ c.fkstatus.libelle }}</p>
    </div>

</div>
{% endfor %}

<a class="btn-view-commande" href="{{ path('app_commande_update_status',{'commande':commande[0].id}) }}">mettre a jour le status</a>
</div>
{% endblock %}