{% extends 'base.html.twig' %}

{% block title %}Hello RestaurateurController!{% endblock %}
{% block ville %}
<div class="arrow-left">

    <a href="{{ path('app_restaurateur') }}"><i
            class="fa-solid fa-arrow-left fa-2xl"></i></a>
</div>

{% endblock ville %}
{% block body %}
<link rel="stylesheet" href="/styles/restaurateur.css">

<div class="page-resto">
    <div class="title-image">
        <h1 class="title">
            {{ restaurant.nom }}
        </h1>
        <div class="image-for-title">
            <img src="" alt="">
        </div>
    </div>

    <p class="description-resto">{{ restaurant.description }}</p>

    <div class="all-card-view-plat">
        {% for p in restaurant.plats %}
        <div class="card-view-plat">
            <div class="image-view-plat">
                <img src="" alt="">
            </div>
            <h2 class="plat-title">{{ p.libelle }}</h2>

            <p class="plat-description">
                {{ p.description }}
            </p>

            <p class="plat-price">
                {{ p.tarif }} €
            </p>
            <div class="plat-edit-btn">
                <a href="{{ path('app_plat_edit',{'id':p.id}) }}">
                    <i class="fa-solid fa-pen fa-xl"></i>
                </a>
            </div>

        </div>

        {% else %}
    </div>

    <h1>Vous n'avez pas de plat</h1>
    {% endfor %}

    


</div>
<div class="group-btn-resto">
    <a class="btn-resto" href="{{ path('app_plat_add',{"idResto":restaurant.id}) }}">Ajouter un plat</a>
    
    <a class="btn-resto" href="{{ path('app_commande',{'idResto':restaurant.id}) }}">Voir mes commandes</a>
</div>
{% endblock %}