{% extends 'base.html.twig' %}

{% block title %}Choisisez un restaurant{% endblock %}

{% block ville %}

<div class="dropdown-ville">
    <select name="" id="dropdown-ville">
        <option value="">Choissisez une ville</option>
        <option value="0">Dans votre secteur</option>
        {% for v in villes %}
        <option value="{{ v.id }}">
                {{v.libelle}}
        </option>

        {% endfor %}
    </select>
</div>
<script src="/js/script.js"></script>
{% endblock ville %}

{% block body %}
<link rel="stylesheet" href="/styles/client.css">
<div class="page-client">
    {% for r in restaurants %}
    <div class="h-card">
        <div class="h-card-img">
            <img src="" alt="">
        </div>
        <div class="resto">
            <h3 class="resto-name">{{ r.nom }}</h3>
            <blockquote class="resto-type">
                {{ r.fktypeResto.libelle }}
            </blockquote>
        </div>
        <div class="description">
            <p> {{r.description}} </p>
        </div>
        <div class="commande">
            <a href="{{ path('app_client_view_resto',{'restaurant':r.id}) }}" class="btn-commande">Commander ici</a>
        </div>
    </div>


</div>



{% endfor %}


{% endblock %}