{% extends 'base.html.twig' %}

{% block title %}Hello ClientController!{% endblock %}

{% block ville %}
<script>
    const dropdown = document.getElementById('dropdown-ville');

    dropdown.addEventListener('change', () => {
        window.path = "{{ path('app_client_ville', {'ville': " + dropdown.value + "}) }}";
    });
</script>
<div class="dropdown-ville">
    <select name="" id="">
        {% for v in villes %}
        <option value="{{ v.id }}">
                {{v.libelle}}
        </option>

        {% endfor %}
    </select>
</div>
{% endblock ville %}

{% block body %}
<link rel="stylesheet" href="/styles/client.css">
<div class="page-client">
    {% for r in restaurants %}
    <div class="h-card">
        <div class="h-card-img">
            <img src="" alt="">
        </div>
        <div class="resto">
            <h3 class="resto-name">{{ r.nom }}</h3>
            <blockquote class="resto-type">
                {{ r.fktypeResto.libelle }}
            </blockquote>
        </div>
        <div class="description">
            <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Praesentium reiciendis ipsa vero. Illum sequi mollitia quasi nulla,
                distinctio cupiditate repellat hic dolorem alias. Explicabo fugiat quos unde earum?
                Laborum, dolore. </p>
        </div>
        <div class="commande">
            <a href="{{ path('app_client_view_resto',{'restaurant':r.id}) }}" class="btn-commande">Commander ici</a>
        </div>
    </div>


</div>



{% endfor %}
{% endblock %}