{% extends 'base.html.twig' %}

{% block title %}Choisisez un restaurant{% endblock %}

{% block ville %}

<div class="dropdown-ville">
    <select name="" id="dropdown-ville">
        <option value="">Choissisez une ville</option>
        <option value="0">Dans votre secteur</option>
        {% for v in villes %}
        <option value="{{ v.id }}">
            {{v.libelle}}
        </option>

        {% endfor %}
    </select>
</div>

{% endblock ville %}

{% block body %}
<link rel="stylesheet" href="/styles/client.css">
{{ dump(restaurants) }}
{% for r in restaurants %}
<div class="page-client">
    <div class="h-card">
        <div class="h-card-img">
            <img src="" alt="">
        </div>
        <div class="resto">
            <h3 class="resto-name">{{ r.nom }}</h3>
            <blockquote class="resto-type">
                {{ r.fktypeResto.libelle }}
            </blockquote>
        </div>
        <div class="description">
            <p> {{r.description}} </p>
        </div>

        {% if r.evaluations | length > 0 %}
        {% set note = 0  %}
        {% for e in r.evaluations  %}
            {% set note = note + e.note %}
        {% endfor %}
    
        <p> {{ note / r.evaluations | length }} <i class="fa-solid fa-star"></i></p>
        {% else %}
        <p>Pas de note</p>
        {% endif %}
        <a href="{{path('app_evaluation_eval',{'restaurant':r.id})}}">Notez le restaurant</a>
        <div class="commande">
            <a href="{{ path('app_client_view_resto',{'restaurant':r.id}) }}" class="btn-commande">Commander ici</a>
        </div>
    </div>
</div>
{% endfor %}
<script src="/js/script.js"></script>
{% endblock %}