{% extends 'base.html.twig' %}

{% block ville %}
<div class="arrow-left">

    <a href="{{ path('app_client',) }}"><i class="fa-solid fa-arrow-left fa-2xl"></i></a>
</div>
{% endblock ville %}

{% block body %}
<link rel="stylesheet" href="/styles/livreur.css">
<div class="parent-card-livreur">
    {% for c in commande %}
    <div class="card-livreur">
        <div class="flex-h  horizontal-ligne">
            <p>{{ commande[0].detailCommandes[0].fkplat.fkrestaurant.nom}}</p>
            <p>{{ c.destination }}, {{commande[0].detailCommandes[0].fkplat.fkrestaurant.fkville}} </p>
        </div>

        <p> {{ c.date | date('j/m/y h:i')}}
        <div class="card-livreur-commande">
            <div class="card-commande">
                {% set total = 0 %}
                {% for dc in c.detailCommandes %}
                {% set total = total + (dc.quantite * dc.fkplat.tarif) %}
                <span> {{ dc.quantite }} {{ dc.fkplat }} </span>
                {% endfor %}
            </div>
            <div class="card-commande-status">
                <span>{{ c.fkstatus.libelle }}</span>
                <span> {{ total }} €</span>

            </div>
        </div>

    </div>

    {% endfor %}
</div>
{% endblock %}