{% extends 'base.html.twig' %}

{% block ville %}
<div class="arrow-left">

    <a href="{{ path('app_client',) }}"><i class="fa-solid fa-arrow-left fa-2xl"></i></a>
</div>
{% endblock ville %}

{% block body %}
<link rel="stylesheet" href="/styles/livreur.css">
<div class="parent-card-livreur">
    {% for c in commande %}
    <div class="card-livreur">
        <p> {{ commande[0].detailCommandes[0].fkplat.fkrestaurant.nom}}</p>
        <p> {{ c.destination }}, {{commande[0].detailCommandes[0].fkplat.fkrestaurant.fkville}} </p>
        <p> {{ c.date | date('j/m/y')}}
            {% for dc in c.detailCommandes %}
        <p> {{ dc.quantite }} {{ dc.fkplat }} </p>
        
            {% endfor %}
    </div>

    {% endfor %}
</div>
{% endblock %}